@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 50% 96%;
    --foreground: 224 10% 10%;
    --card: 180 50% 100%;
    --card-foreground: 224 10% 10%;
    --popover: 180 50% 100%;
    --popover-foreground: 224 10% 10%;
    --primary: 178 47% 59%;
    --primary-foreground: 224 10% 10%;
    --secondary: 180 20% 90%;
    --secondary-foreground: 224 10% 10%;
    --muted: 180 20% 94%;
    --muted-foreground: 224 10% 45%;
    --accent: 105 53% 46%;
    --accent-foreground: 105 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 88%;
    --input: 180 20% 92%;
    --ring: 178 47% 59%;
    --chart-1: 178 47% 59%;
    --chart-2: 105 53% 46%;
    --chart-3: 210 40% 56%;
    --chart-4: 24 9.8% 10%;
    --chart-5: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 10% 10%;
    --foreground: 180 10% 96%;
    --card: 224 10% 12%;
    --card-foreground: 180 10% 96%;
    --popover: 224 10% 10%;
    --popover-foreground: 180 10% 96%;
    --primary: 178 47% 59%;
    --primary-foreground: 224 10% 10%;
    --secondary: 224 10% 20%;
    --secondary-foreground: 180 10% 96%;
    --muted: 224 10% 20%;
    --muted-foreground: 180 10% 60%;
    --accent: 105 53% 56%;
    --accent-foreground: 105 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 10% 25%;
    --input: 224 10% 20%;
    --ring: 178 47% 59%;
    --chart-1: 178 47% 59%;
    --chart-2: 105 53% 56%;
    --chart-3: 210 40% 56%;
    --chart-4: 0 0% 98%;
    --chart-5: 142.1 70.6% 45.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
